pipeline/full_load_on_prim.json
{
	"name": "full_load_on_prim",
	"properties": {
		"activities": [
			{
				"name": "Lookupforconfig",
				"description": "use on-prim-full config table created at Azure sqlDB",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from on_prim_full;",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "config_full_load",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookupforconfig",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookupforconfig').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_on_prim_to_raw",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceSqlServer",
									"type": "DatasetReference",
									"parameters": {
										"src_tables": {
											"value": "@item().source_tables",
											"type": "Expression"
										},
										"schema_name": "dbo"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "rawedwhds",
									"type": "DatasetReference",
									"parameters": {
										"folder_name": {
											"value": "@item().destination_folder",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().destination_file_name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"folder": {
			"name": "lokesh_on_prim_raw"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-12T13:04:07Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}