pipeline/pipeline_stg_silver_incremental.json
{
	"name": "pipeline_stg_silver_incremental",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "config_incremental",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"modifiedDatetimeStart": {
											"value": "@startOfDay(utcNow())",
											"type": "Expression"
										},
										"modifiedDatetimeEnd": {
											"value": "@utcNow()",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "store_agg_stage_ds",
									"type": "DatasetReference",
									"parameters": {
										"container_para": {
											"value": "@item().src_container",
											"type": "Expression"
										},
										"folder_para": {
											"value": "@item().src_folder",
											"type": "Expression"
										},
										"file_para": {
											"value": "@concat(utcNow('yyyy'), '/', utcNow('MM/dd'), '/', item().src_file)",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "store_agg_silver_ds",
									"type": "DatasetReference",
									"parameters": {
										"container_para": {
											"value": "@item().destination_container",
											"type": "Expression"
										},
										"folder_para": {
											"value": "@item().destination_folder",
											"type": "Expression"
										},
										"file_para": {
											"value": "@concat(utcNow('yyyy'), '/', utcNow('MM/dd'), '/', item().destination_file)",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "success_full_logs",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_insertlogdetails]",
								"storedProcedureParameters": {
									"billing_Reference_activity_Type": {
										"value": {
											"value": "@activity('Copy data1').output.billingReference.activityType",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFile": {
										"value": {
											"value": "@item().destination_file",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFolder": {
										"value": {
											"value": "@item().destination_folder",
											"type": "Expression"
										},
										"type": "String"
									},
									"effective_Integration_Runtime": {
										"value": {
											"value": "@activity('Copy data1').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"errors": {
										"value": {
											"value": "@activity('Copy data1').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_sink_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_source_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].source.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_status": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"rowsRead": {
										"value": {
											"value": "@activity('Copy data1').output.filesRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"sourceTable": {
										"value": {
											"value": "@item().src_file",
											"type": "Expression"
										},
										"type": "String"
									},
									"throughPut": {
										"value": {
											"value": "@activity('Copy data1').output.throughput",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"triggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"triggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"used_Data_Integration_Units": {
										"value": {
											"value": "@activity('Copy data1').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaselokesh",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "logs_on_failure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[dbo].[usp_insertlogdetails]",
								"storedProcedureParameters": {
									"billing_Reference_activity_Type": {
										"value": {
											"value": "@activity('Copy data1').output.billingReference.activityType",
											"type": "Expression"
										},
										"type": "String"
									},
									"dataFactory": {
										"value": {
											"value": "@pipeline().DataFactory",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFile": {
										"value": {
											"value": "@item().destination_file",
											"type": "Expression"
										},
										"type": "String"
									},
									"destinationFolder": {
										"value": {
											"value": "@item().destination_folder",
											"type": "Expression"
										},
										"type": "String"
									},
									"effective_Integration_Runtime": {
										"value": {
											"value": "@activity('Copy data1').output.effectiveIntegrationRuntime",
											"type": "Expression"
										},
										"type": "String"
									},
									"errors": {
										"value": {
											"value": "@activity('Copy data1').output.errors",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_sink_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].sink.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_source_type": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].source.type",
											"type": "Expression"
										},
										"type": "String"
									},
									"execution_Details_status": {
										"value": {
											"value": "@activity('Copy data1').output.executionDetails[0].status",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineName": {
										"value": {
											"value": "@pipeline().Pipeline",
											"type": "Expression"
										},
										"type": "String"
									},
									"pipelineRunId": {
										"value": {
											"value": "@pipeline().RunId",
											"type": "Expression"
										},
										"type": "String"
									},
									"rowsCopied": {
										"value": {
											"value": "@activity('Copy data1').output.filesWritten",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"rowsRead": {
										"value": {
											"value": "@activity('Copy data1').output.filesRead",
											"type": "Expression"
										},
										"type": "Int32"
									},
									"sourceTable": {
										"value": {
											"value": "@item().src_file",
											"type": "Expression"
										},
										"type": "String"
									},
									"throughPut": {
										"value": {
											"value": "@activity('Copy data1').output.throughput",
											"type": "Expression"
										},
										"type": "Decimal"
									},
									"triggerName": {
										"value": {
											"value": "@pipeline().TriggerName",
											"type": "Expression"
										},
										"type": "String"
									},
									"triggerTime": {
										"value": {
											"value": "@pipeline().TriggerTime",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"triggerType": {
										"value": {
											"value": "@pipeline().TriggerType",
											"type": "Expression"
										},
										"type": "String"
									},
									"used_Data_Integration_Units": {
										"value": {
											"value": "@activity('Copy data1').output.usedDataIntegrationUnits",
											"type": "Expression"
										},
										"type": "Int32"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabaselokesh",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy data1",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "delete_stg",
									"type": "DatasetReference",
									"parameters": {
										"folder_para": {
											"value": "@item().src_folder",
											"type": "Expression"
										}
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "AzureDataLakeStorage1",
										"type": "LinkedServiceReference"
									},
									"path": "silver-edwh"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			}
		],
		"folder": {
			"name": "lokesh_on_prim_raw/stock_aggregation"
		},
		"annotations": [],
		"lastPublishTime": "2023-10-24T04:47:57Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}